{% macro textRequired(display_name, field_name) -%}
    <div class="formbuilder-text form-group field-{{field_name}}">
        <label for="{{field_name}}" class="formbuilder-text-label">{{display_name}}<span class="formbuilder-required"></span></label>
        <input type="text" class="form-control" name="{{field_name}}" access="false" id="{{field_name}}" required="required" aria-required="true">
    </div>
{%- endmacro %}

{% macro textHidden(field_name,field_value) -%}
    <div class="formbuilder-text form-group field-{{field_name}}">
        <input type="text" class="form-control" name="{{field_name}}" access="false" id="{{field_name}}" required="required" aria-required="true" style='display:none' value="{{field_value}}">
    </div>
{%- endmacro %}

{% macro textOptional(display_name, field_name) -%}
    <div class="formbuilder-text form-group field-{{field_name}}">
        <label for="{{field_name}}" class="formbuilder-text-label">{{display_name}}</label>
        <input type="text" class="form-control" name="{{field_name}}" access="false" id="{{field_name}}">
    </div>
{%- endmacro %}

{% macro date(display_name, field_name) -%}
<label class="control-label">{{display_name}}</label>
<input type='text' id='{{field_name}}' class="form-control" />
</div>
<script>
    $(function () {
      $('#{{field_name}}').flatpickr();;
   });
</script>

{%- endmacro %}
{% macro datetime(display_name, field_name) -%}
<label class="control-label">{{display_name}}</label>
<input type='text' id='{{field_name}}' class="form-control" />
</div>
<script>
    $(function () {
      $('#{{field_name}}').flatpickr({enableTime: true});;
   });
</script>

{%- endmacro %}
{% macro radio(display_name, field_name ,display_value_dict) -%}
    <div class="formbuilder-radio-group form-group field-{{field_name}}">
        <label for="{{field_name}}" class="formbuilder-radio-group-label">{{display_name}}<span class="formbuilder-required"></span></label>
        <div class="radio-group">
        {% for item in display_value_dict %}
        <div class="formbuilder-radio">
            <input name="{{field_name}}" access="false" id="{{field_name}}-{{loop.index}}" required="required" aria-required="true" value="{{item[0]}}" type="radio">
            <label for="{{field_name}}-{{loop.index}}">{{item[1]}}</label>
        </div>
        {% endfor %}
        </div>        
    <div class="formbuilder-date form-group field-{{field_name}}">
</div>
{%- endmacro %}

