<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    </head>
    <body style="margin: 50;padding: 50px;">
        <form action={{url}} method="get" id="form1">
            {% import 'forms.html' as forms %}
            {% for item in fields %}
                {% if item['type'] == 'textRequired' %}
                    {{forms.textRequired(item['display_name'],item['field_name'])}}
                {% elif item['type'] == 'textOptional' %}
                    {{forms.textOptional(item['display_name'],item['field_name'])}}
                {% elif item['type'] == 'date' %}
                    {{forms.date(item['display_name'],item['field_name'])}}
                {% elif item['type'] == 'datetime' %}
                    {{forms.datetime(item['display_name'],item['field_name'])}}
                {% elif item['type'] == 'radio'%}
                    {{forms.radio(item['display_name'],item['field_name'],item['display_value_dict'])}}
                {% elif item['type'] == 'textHidden' %}
                    {{forms.textHidden(item['field_name'],item['field_value'])}}
                {% endif %}
                <br>
            {% endfor %}
        </form>
        <br>
        <div class="formbuilder-button form-group field-submit">
        <button type="submit" class="btn-success btn" name="submit" access="false" id="submit" form="form1">Next</button>
        </div>
    </body>
</html>